/* ResetPassword.css */
.reset-password-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 700px;
  max-width: 100%;
  margin: 10% auto;
}

.illustration-section {
  background-color: #e9effc;
  padding: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration-section img {
  max-width: 100%;
  height: auto;
}

.form-section {
  padding: 40px;
  width: 50%;
}

.reset-password-header {
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.reset-password-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.password-matching {
  color: red;
  font-size: 14px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-reset {
  width: 48%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-reset-password {
  background-color: rgba(48, 89, 235, 1);
  color: white;
}

.button-reset-password:hover {
  background-color: rgba(48, 89, 235, 0.8);
}

.button-cancel {
  background-color: transparent;
  color: #30a749; /* Cancel button green */
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.button-cancel:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .reset-password-container {
    flex-direction: column;
    align-items: center;
  }

  .illustration-section {
    width: 100%;
    padding: 20px;
  }

  .form-section {
    width: 100%;
    padding: 20px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
  }

  .button-reset {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .reset-password-header {
    font-size: 20px;
  }

  .reset-password-input {
    font-size: 14px;
  }

  .button-reset {
    font-size: 14px;
    padding: 10px;
  }
}
