#root {
  margin: 0;
  padding: 0;
}

.navbarDiv {
  background-color: #000000;
}

.smallMenuDiv {
  display: none;
}

#closeButton {
  display: none;
}
.sign-up-button {
  background-color: #3059eb !important;
  color: white !important;
  border-top: rgba(16, 238, 252, 1) solid 1px !important;
  border-left: rgba(16, 238, 252, 1) solid 1px !important;
  border-right: rgba(16, 238, 252, 1) solid 1px !important;
  border-bottom: rgba(1, 106, 106, 1) solid 1px !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2) !important;
}

.backGroundImage {
  background-image: url("./images/worldMap.png");
  background-size: 750px 530px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-attachment: local;
}

.img-fluid {
  width: 275px !important;
  height: 250px !important;
}

.fw-normal {
  font-weight: 375 !important;
}

.positionDiv {
  position: absolute;
  bottom: 15%;
  right: 23.5%;
}

.homePageBtn {
  background: rgba(48, 89, 235, 1) !important;
}

.otImg {
  position: absolute;
  max-width: 300px !important;
  max-height: 500px;
  left: 32%;
  z-index: 0;
}

.zIndex1 {
  z-index: 1;
}

.footerBg1 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 60px 60px 0 0;
}

.footerBg2 {
  background-color: rgba(0, 0, 0, 1);
}
.footerBg3 {
  background-color: rgba(0, 0, 0, 1);
}

.FAQImg {
  width: 350px;
  height: 427.48px;
  top: 7352px;
  left: 242px;
  gap: 0px;
  /* border-radius: 147px 0px 0px 0px; */
  opacity: 0px;
}

.hrStyle {
  background: linear-gradient(90deg, #6ddcff 0%, #7f60f9 100%) !important;
  margin: 0;
  height: 2px;
}

.footerFoot {
  width: 80% !important;
  /* height: 306px; */
  /* top: 7970px; */
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.logoImg {
  /* font-family: Inter; */
  font-size: 36px;
  font-weight: 700;
  line-height: 54.56px;
  text-align: start;
  color: rgba(48, 89, 235, 1);
}

.textUL {
  width: 328px;
  height: 78px;
  top: 8078px;
  left: 237px;
  gap: 0px;
  opacity: 0px;
  color: rgba(255, 255, 255, 1);
}

.linkIfoot {
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  /* width: 87px; */
  /* height: 25px; */
  top: 8030px;
  left: 665px;
  gap: 0px;
  opacity: 0px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.plansHeader {
  color: rgba(48, 89, 235, 1);
  font-size: 40px;
  font-weight: 400;
  line-height: 66px;
  text-align: center;
}

.plansSubHeader {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.planTitle {
  /* //styleName: Semi-bold/18px; */
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  width: 122.78px;
  height: 25.23px;
  top: 6323.07px;
  left: 271.43px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 2.5rem;
}

.planPrice {
  color: rgba(113, 113, 122, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  /* width: 93.12px; */
  height: 20.18px;
  top: 6398.75px;
  left: 384.88px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 4rem;
}

.planAmount {
  color: rgba(255, 255, 255, 1);
  font-size: 75px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  width: 114.29px;
  height: 55.5px;
  top: 6366.8px;
  left: 270.59px;
  gap: 0px;
  opacity: 0px;
}

.planText {
  color: rgba(161, 161, 170, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  height: 21px;
  top: 6437px;
  left: 271px;
  gap: 0px;
  opacity: 0px;
  border-width: 1px;
  padding-bottom: 10px;
}

.oneLine {
  /* width: 244.71px; */
  height: 2px;
  top: 6472.76px;
  left: 271.43px;
  gap: 0px;
  border-width: 1px;
  border-style: solid none none none;
  border-color: rgba(39, 39, 42, 1);
  background-color: rgba(39, 39, 42, 1);
}

.plansBG {
  background: rgba(24, 24, 27, 1);
  border-radius: 6px;
  height: 100%;
}

.plansBG2 {
  background: rgba(24, 24, 27, 1);
  border-radius: 6px;
  height: 100%;
}

.PlanList {
  list-style: none;
}

.PlanList li {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
}

.orderDiv {
  width: 100%;
  background: linear-gradient(90deg, #6ddcff 0%, #7f60f9 100%);
  border-radius: 10px;
  border: 2px solid transparent;
}

.orderBtn {
  width: 100%;
  background: rgba(24, 24, 27, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  cursor: pointer;
}

.plansBG:hover {
  background: linear-gradient(90deg, #6ddcff 0%, #7f60f9 100%) !important;
  border: 2px solid transparent;
}

.orderDiv:hover {
  background: rgba(24, 24, 27, 1) !important;
  border: none;
}

.orderBtn:hover {
  background: linear-gradient(90deg, #6ddcff 0%, #7f60f9 100%) !important;
  border: none;
}

/* 
.plansBgImp {
  background: linear-gradient(90deg, #6DDCFF 0%, #7F60F9 100%) !important;
  border: 2px solid transparent;
}

.orderDivImp {
  background: rgba(24, 24, 27, 1) !important;
  border: none;
}

.orderBtnImp {
  background: linear-gradient(90deg, #6DDCFF 0%, #7F60F9 100%) !important;
  border: none;
} */
.detailDiv {
  width: 100%;
  background: linear-gradient(90deg, #6ddcff 0%, #7f60f9 100%);
  border: 1px solid transparent;
  border-radius: 10px;
}

.detailTab {
  border-radius: 10px;
  width: 100%;
  background: #18181b;
  color: #ffffff;
}

.detailTab[open] {
  background: #000000;
}

.detailTab[open] .parDiv p {
  background: #000000;
}

summary {
  position: relative;
  /* border: 2.5px inset grey; */
  padding: 6px;
  cursor: pointer;
  transform: scaleX(-1);
}

details > summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "&nbsp;";
  background-image: url("./images/close.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  color: transparent;
}

details[open] summary::after {
  content: "&nbsp;";
  background-image: url("./images/open.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  color: transparent;
}

summary p {
  display: inline-block;
  position: absolute;
  right: 6px;
  transform: scaleX(-1);
}

/* .summaryInDetail::marker {
  content: url('./images/close.png'); */
/* background-image: url('./images/close.png'); */
/* background-size: contain; */
/* Adjust background size as needed */
/* width: 24px; */
/* font-size: 15px; */
/* height: 24px;
  top: 7221px;
  left: 1181px; */
/* margin-right: 5px; */
/* display: inline-block;
  position: absolute;
  right: 6px;
} */

.parDiv {
  background: linear-gradient(90deg, #6ddcff 0%, #7f60f9 100%);
  /* border: 2px solid transparent; */
  border-width: 1px;
  border-style: solid none none none;
  border-color: transparent;
}

.parDiv p {
  background: #18181b;
  color: #ffffff;
}

.menuDiv {
  display: flex;
  z-index: 10;
}

#frImg {
  width: 457px;
  height: 466px;
}

#frHeader {
  width: 505px;
  height: 108px;
  font-size: 45px;
  font-weight: 400;
  line-height: 54.47px;
  text-align: left;
}

#frText {
  width: 500px;
  height: 113px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

#frStepsDiv {
  height: 220px;
  padding: 30px 0px 50px 0px;
  margin-bottom: 12px;
  justify-content: flex-start;
}
.frNumberDiv {
  width: 100px;
  height: 100%;
  border-radius: 30px;
  text-align: center;
  z-index: 1;
}

.frNumberDiv > span {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  text-align: center;
  align-content: center;
  background: #3059eb;
  font-size: 60px;
  font-weight: 900;
  line-height: 77.45px;
  color: #ffffff;
  text-align: center;
}
.frNumberDiv > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  width: 110px;
  height: 17px;
  margin-top: 15px;
  margin-bottom: -15px;
}

.numStart {
  align-content: flex-start;
}

.numEnd {
  align-content: flex-end;
}

.frWaveImgDiv {
  align-content: center;
  margin: 0 -12px;
  z-index: 0;
}

.waveForNum {
  width: 107px;
  height: 76px;
}

#radioBtnDiv {
  display: flex;
  position: relative;
  border: 1px solid #000000;
  padding: 1rem 2rem;
  margin: 1rem 0;
}

#radioBtnDiv > h5 {
  position: absolute;
  top: -12px;
  background-color: #ffffff;
}

#radioBtnDiv > .form-check {
  margin-left: 1rem;
}

#travelerFlightDetailDiv {
  display: flex;
  justify-content: space-around;
}

#travelerFlightDetailDiv > #fromDiv {
  width: 226px;
}
#travelerFlightDetailDiv > #toDiv {
  width: 226px;
}
#travelerFlightDetailDiv > #departDiv {
  width: 226px;
}
#travelerFlightDetailDiv > #returnDiv {
  width: 226px;
}
#travelerFlightDetailDiv > #travelersNCabinDiv {
  width: 226px;
}
#travelerFlightDetailDiv > .d-flex > .inputDiv {
  width: 400px;
}
.inputDiv > input {
  border: none;
}

#additionalPreferencesDiv {
  display: flex;
}

.fitRow1 {
  border: 1px solid #0000004d;
  border-radius: 5px;
  padding: 15px 25px;
  margin-bottom: 3rem;
}
.fitRow2 {
  border: 1px solid #0000004d;
  border-radius: 5px;
  padding: 15px 25px;
  margin-bottom: 3rem;
  background: #3059eb;
}

#flightItineraryTotalDiv {
  display: flex;
  justify-content: space-between;
}

#flightItineraryTotalDiv > p {
  margin: 0;
}
#flightItineraryTotalDiv > #flightItineraryTotal {
  width: 18%;
  font-weight: 400;
}

#secureImg {
  width: 173.04px;
  height: 69.22px;
}
.paymentImgDiv {
  padding: 0 !important;
}
#paymentImg {
  width: 106%;
  height: auto;
}
#pciImg {
  width: 173.04px;
  height: 69.22px;
}

#payNowBtn {
  width: 100%;
  color: #ffffff;
  background: #3059eb;
  border: none;
}

#termNConditionDiv {
  text-align: center;
}

#termNConditionText {
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  text-align: center;
  /* width: 460px; */
  height: 50px;
}

#termNConditionImg {
  width: 350px;
  height: 114px;
}
.inputDiv {
  box-shadow: 0px 4px 4px 0px #00000040;
  border-top: #00000040 solid 1px;
  border-bottom: #00000040 solid 1px;
  margin: 0 4px;
}
.form-select,
.form-control {
  background-color: #e8edf3 !important;
  box-shadow: 0px 4px 4px 0px #00000040;
}

/* #fromDiv,
#toDiv {
  width: 29%;
}

#departDiv {
  width: 18%;
}
#travelersNCabinDiv {
  width: 24%;
} */

#fromDiv > .inputDiv {
  border-radius: 10px 0 0 10px;
  border-left: #00000040 solid 1px;
}

#travelersNCabinDiv > .inputDiv {
  border-radius: 0 10px 10px 0;
  border-right: #00000040 solid 1px;
}

.inputDiv > .form-label {
  padding: 0 0.75rem;
  margin-bottom: 0;
}
.inputDiv > .form-control {
  padding: 0 0.75rem 0.75rem 0.75rem;
  margin-bottom: 0;
}
#fromInput,
#departDateInput,
#returnDateInput,
#travelersNCabin,
#toInput {
  /* background-color: var(--bs-body-bg) !important; */
  box-shadow: none;
}

#payNowMainDiv {
  background: #fdfdfd;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px;
  border: 1px solid #0000004d;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

.tickImg {
  width: 18px;
  height: 17px;
}

.inputDiv > input {
  background-color: transparent !important;
}

.addMoreBTn {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 23%;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2) !important;
  height: 3rem !important;
}

.removeBtn {
  border: none !important;
}

.airport-options {
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

.airport-options > li {
  padding: 5px 13px;
  border-radius: 10px;
}
.airport-options > li:hover {
  background-color: #e8edf3;
}

.frH2 {
  font-size: 1.6rem !important;
}

#travelerHotelDetailDiv {
  display: flex;
  justify-content: space-around;
}

#destinationOrHotelNameDiv {
  width: 50%;
}

.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown-suggestions {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 30%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.dropdown-suggestions::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.dropdown-item {
  /* padding: 10px; */
  cursor: pointer;
  padding: 5px 10px !important;
  border-top: 1px solid #f0f0f0 !important; /* Set the top border */
  border-bottom: 1px solid #f0f0f0 !important; /* Set the bottom border */
}

.dropdown-item:hover {
  background-color: #f0f0f0 !important;
}

.swal-modal > .swal-footer {
  text-align: center;
}

#getDummyTicketA {
  box-shadow: 0px 4px 4px 0px #ffffff80;
  border: 2px solid #a7a7a7;
  background: #ffffff;
  border-radius: 10px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  color: #000000;
}

#getDummyTicketA > span {
  text-decoration: underline;
  color: #3059eb;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
}

.colorForWBG {
  color: #3059eb;
}

/* Make the Dropdown button background transparent */
.dropdown-toggle {
  background-color: transparent !important;
  border: transparent !important; /* Optional: remove border */
}

.language-switcher {
  margin: 5px;
  text-align: right;
}

.language-dropdown {
  padding: 8px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
}

.language-dropdown option {
  padding: 5px;
  font-size: 14px;
}

/* Additional styling for hover, focus, etc. */
.language-dropdown:hover {
  background-color: #ffffff;
}

.language-dropdown:focus {
  outline: none;
  border-color: #888;
}

